if TARGET_MX6_TRUXD01_SOM  || TARGET_MX6_TRUXD01_SOM_MFG

config SYS_BOARD
	default "imx6_truxd01_som"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "imx6_truxd01_som"

endif
