CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6_TRUXD01_SOM=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/imx6_truxd01_som/imx6_truxd01.cfg"
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
